<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINAL</title>
</head>
<body>

    <a href="/regMed">
        <button>AGREGAR MEDICO</button><br>
    </a>
    
    <a href="/regPac">
        <button>AGREGAR PACIENTE</button><br>
    </a>    
    
    <a href="/mosMed">
        <button>MOSTRAR MEDICO</button><br>
    </a>    
    
    <a href="/mosPac">
        <button>MOSTRAR PACIENTE</button><br>
    </a>
    <a href="mosPag">
        <button>MOSTRAR PAGOS</button><br>
    </a>
</body>